[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -V -c /home/arialdo/.config/mbsync/config --all
ExecStartPost=/usr/bin/notmuch new
